@page "/detail/{id:int}"
@using JobPortal.Shared.Features.Home.Shared;
@inject HttpClient Http
@inject IMediator Mediator

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
    </ol>
</nav>

@if (_selectedJob is not null)
{
@*<div class="drawer-content">
 <div class="job-details">*@
    <img src="@(!string.IsNullOrWhiteSpace(_selectedJob.Image) ? $"images/{_selectedJob.Image}" : "https://via.placeholder.com/640x426.jpg?text=No+Image+For+Job")" />
    <h3>@_selectedJob.Name</h3>
    <h6 class="mb-3 text-muted"><span class="oi oi-map-marker"></span> @_selectedJob.Location</h6>
    <div class="mt-4">
    @*<p> <i class="bi bi-calendar"> </i> @_selectedJob.CreatedDate </p>
    <p> <i class="bi bi-clock"> </i> @_selectedJob.CreatedTime &nbsp </p>*@
    <p><i class="bi bi-currency-dollar"> </i> @_selectedJob.Salary </p>
</div>
}

@if ( _jobdescs == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="descriptions-container">
        <h3>Job Descriptions</h3>
        <ul>
       @foreach (var jobdesc in _jobdescs)
         {
            <li>@jobdesc.Description</li>    
         }
        </ul>
    </div>
}


@if ( _jobreqs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="descriptions-container">
        <h3>Job Requirements</h3>
        <ul>
        @foreach (var jobreq in _jobreqs)
        {
            <li>@jobreq.Requirement</li>
        }
        </ul>
    </div>
}


@code {

    [Parameter] public int Id { get; set;}

    private Jobs? _selectedJob;

    private IEnumerable<JobDescription>? _jobdescs;


    private IEnumerable<JobRequirement>? _jobreqs;



    protected override async Task OnInitializedAsync()
    {
        try
        {
           //var _jobs = await Http.GetFromJsonAsync<IEnumerable<Jobs>>("jobs/jobs_data.json");
            var response = await Mediator.Send(new GetJobsRequest());
            var _jobs = response.Jobs.Select(x => new Jobs
                {
                    Id = x.Id,
                    Name = x.Name,
                    Location = x.Location,
                    Salary = x.Salary,
                    Image = x.Image,
                    Description = x.Description,
                    
                    //TimeInMinutes = x.TimeInMinutes
                });

            _selectedJob = _jobs!.Where(x => x.Id == Id).First();

            _jobdescs = _selectedJob.JobDescriptions;
            _jobreqs = _selectedJob.JobRequirements;

            
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading job data: {ex.Message}");
        }
    }
}