@inject NavigationManager NavManager

<div class="parent_card">
    <div class="card shadow" style="">
        <div class=" card-left bule-bg">
             <img src="@(!string.IsNullOrWhiteSpace(Job.Image) ? $"images/{Job.Image}" : "https://via.placeholder.com/286x190.jpg?text=No+Image+For+Job")" class="card_img_left">
        </div>
            <div class="card_center">
                <h5 class="card-name">@Job.Name</h5>
                <h5 class="card-employerName">@Job.EmployerName</h5>
            <button type="button" class="btn btn-link" @onclick="@(() => NavManager.NavigateTo($"/detail/{Job.Id}"))">@Job.JobType</button>
            @*<h6 class="card-text">@Job.JobType</h6>*@
                <p class="card-text">@Job.Description</p>
               <div>
                <span class="oi oi-map-marker"> </span> @Job.Location &nbsp;
                <i class="bi bi-calendar"> </i> @Job.CreatedDate &nbsp
                <i class="bi bi-currency-bitcoin"> </i> @Job.Salary
              
            </div>
            
            <div class="d-flex justify-content-between mb-3">
                <button class="btn btn-primary" title="View" @onclick="@(() => NavManager.NavigateTo($"/detail/{Job.Id}"))">
                  <i class="bi bi-binoculars"></i>
                </button>

                <AuthorizeView>

                    @if (Job.Owner.Equals(context.User.Identity?.Name, StringComparison.OrdinalIgnoreCase) || context.User.IsInRole("Administrator"))
                    {
                        <button class="btn btn-outline-secondary float-right" title="Edit" @onclick="@(() => NavManager.NavigateTo($"/edit-job/{Job.Id}"))">
                            <i class="bi bi-pencil"></i>
                        </button>
                    }

                </AuthorizeView>

            </div>
        </div>
    </div>
</div>

@code 
{
    [Parameter, EditorRequired] public Jobs Job{ get; set; } = default!;
    [Parameter, EditorRequired] public EventCallback<Jobs> OnSelected { get; set; }
   
}